body{background-color: #CCCCFF;}
h1{color: #8E45D7; font-family: "Helvetica"; font-size: 42px; text-align: center;}
p{color: #000000; font-family: "Garamond"; font-size: 24px; text-align: center;}
img{border-width: 3px; border-color:#8E45D7 ;border-style: double;}
a{color: #309B96; font-family: "Garamond"; font-size: 24px; text-decoration: none;}
a:hover{color: #6495ED;}
ul{list-style-type: none;}
img{
    margin: auto;
    display: block;
    }
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
}
